@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-131921:#131921;
    --color-3b4149:#3b4149;
    font-family: 'Poppins', sans-serif;

}
body {
 
   /* background-color: rgb(212, 127, 16); */

}
.container-fluid {
    max-width: 1400px;

}
.navbar{
    height:100px;
    font-size: 23px;
    background-color: whitesmoke;
    
  }

  
  a.navbar-brand {
    color:#2a68ff;
    font-size: 30px;
    
  } 
  .navbar-toggler {
    color:#2a68ff;
    
  }
  
  
  .card:hover{
  
    /* box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(239, 235, 235, 0.992); */
    /* text-align: center;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.2s ease-out;
    background-color: linear-gradient(yellow,green);
    background-image: linear-gradient(45deg, #17a2b8, #007bffb8,#ffffffc9);
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer; */
    
  } 
  
  

  .search-sec{
    background: #2a68ff;padding: 2rem;
    margin: 4px,4px;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
     height: calc(3rem + 2px) !important;
     border-radius:0;
     
}
.clickable{
  cursor: pointer;   
}

.panel-heading span {
margin-top: -20px;
font-size: 15px;
}

  .mx-2 {
    margin-right: 2.5rem!important;
    margin-left: 0.5rem!important;
  }
.ms-5{
  margin-left: 4rem!important;
}